<div> <%= @game.player_1.name %> you attacked <%= @game.player_2.name %>! </div>

<div> <%= @game.player_2.name %>, you have <%= @game.player_2.hp  %>HP remaining! </div>

<a href='/game'> <%= @game.active.name%>, you're up!</a>
