<div> <%= @game.player[1].name %> you attacked <%= @game.active.name %>! </div>

<div> <%= @game.active.name %>, you have <%= @game.active.hp  %>HP remaining! </div>

<a href='/game'> <%= @game.active.name%>, you're up!</a>
